.hover-outline:hover {
  outline: rgb(56, 153, 183) dotted 2px;
}

.selection-outline:active,
.selection-outline:focus {
  outline: black dotted 2px;
}

.mt-0 {
  margin-top: 0;
}

.pr-1 {
  padding-right: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-1\.5 {
  padding-bottom: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.paragraph {
  max-width: 440px;
}

.both-side-padded {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.left-side-padded {
  padding-left: 0.5rem;
}

.italics,
.italic {
  font-style: italic;
}

.xsmalltext {
  font-size: .625rem;
  line-height: 1rem;
}

.smalltext {
  font-size: .8125rem;
  line-height: 1.1rem;
}

.mediumtext {
  font-size: 1rem;
  line-height: 1.1rem;
}

.weight-bold {
  font-weight: bold;
}

.mono-font {
  font-family: JetBrains Mono, monospace;
}

.black {
  color: black;
}

.gray {
  color: rgba(0, 0, 0, .5);
}

.lightgray {
  color: rgba(255, 255, 255, 0.5)
}

.red {
  color: rgb(255, 0, 0);
}

.z-30 {
  z-index: 30;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.top-50 {
  top: 50%;
}

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

#container {
  /* establish flex container */
  display: flex;
  /* stack flex items vertically */
  flex-flow: row wrap;
  /* center items vertically, in this case */
  justify-content: center;
  /* center items horizontally, in this case */
  align-items: center;
  height: auto;
  width: 1050px;
  padding-bottom: 0rem;

}

.padded-item {
  padding: 0.5rem;
  padding-top: 0;
}

.w-450 {
  width: 450px;
  height: 300px;
}

.w-300 {
  width: 300px;
  height: 200px;
}

.relative {
  position: relative;
}

.reveal-top {
  opacity: 0;
  transition: 0.15s all ease;
  pointer-events: none;
}

.reveal-top.active {
  opacity: 1;
  pointer-events: all;
}

.reveal-bot {
  opacity: 0;
  transition: 0.15s all ease;
  pointer-events: none;
}

.reveal-bot.active {
  opacity: 1;
  pointer-events: all;
}

#iframe-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  padding-top: 52.73%;
}

#iframe-responsive {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1050px) {
  #container {
    width: 100%;
  }

  #iframe-container {
    width: 100%;
  }
}

#spacer-small {
  height: 1rem;
}

#spacer-large {
  height: 3rem;
}

.enable-scroll {
  overflow: auto;
}

.disable-scroll {
  overflow: hidden;
}

.link-text:hover,
.link-text:active {
  color: rgb(56, 153, 183);
}

.vertical-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: top;
}

.h-0 {
  height: 0;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.left-8 {
  left: 2rem;
}

.left-0 {
  left: 0;
}

.right-8 {
  right: 2rem;
}

.right-0 {
  right: 0;
}

.top-8 {
  top: 2rem;
}

.top-0 {
  top: 0;
}

.bottom-8 {
  bottom: 2rem;
}

.bottom-0 {
  bottom: 0;
}

.footer {
  margin-top: auto;
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}